<ion-content scrollbar-y-hidden tabindex="-1">
  <div class="hu_page hu_aboutPage">

    <div class="hu_header">
      <h1>Tell us more about you</h1>
      <h3>Help us to personalize your assistant</h3>
    </div>

    <div class="hu_body">

      <!-- Label Panel -->
      <div class="hu_tabPanel">

        <div class="tab_selector">
          <h5>1. Choose some lables to describe you:</h5>
          <div class="tab_selectedContainer">
            <tab-button *ngFor="let userLabel of userLabels" text="{{ userLabel }}" icon="close" selected="{{ true }}" (tabPressed)="handleLabelPressed($event)" ></tab-button>
            <p class="tab_selectedText" *ngIf="userLabels.length === 0">No labels selected.</p>
          </div>
          <form [formGroup]="addCustomLabelForm" (ngSubmit)="addCustomLabel()">
            <ion-item>
              <ion-input type="text" formControlName="customLabel" placeholder="Add your own..."></ion-input>
              <button class="addLabelButton" ion-button item-right type="submit">Add</button>
            </ion-item>
          </form>
          <div class="hu_buttonContainer">
            <tab-button *ngFor="let label of labels" text="{{ label }}" icon="add" (tabPressed)="handleLabelPressed($event)"></tab-button>
          </div>
        </div>

      </div>

      <!-- Lifestyle panel -->
      <div class="hu_tabPanel">

        <div class="tab_selector">
          <h5>2. Choose lifestyles that describe you:</h5>
          <div class="tab_selectedContainer">
            <tab-button *ngFor="let userLifestyle of userLifestyles" text="{{ userLabel }}" icon="close" selected="{{ true }}" (tabPressed)="removeLifestyle($event)" ></tab-button>
            <p class="tab_selectedText" *ngIf="userLifestyles.length === 0">No lifestyles selected.</p>
          </div>
          <form [formGroup]="addCustomLifestyleForm" (ngSubmit)="addCustomLifestyle()">
            <ion-item>
              <ion-input type="text" formControlName="customLifestyle" placeholder="Add your own..."></ion-input>
              <button ion-button item-right type="submit">Add</button>
            </ion-item>
          </form>
          <div class="hu_buttonContainer">
            <tab-button *ngFor="let lifestyle of lifestyles" text="{{ lifestyle }}" icon="add" (tabPressed)="handleLifestylePressed($event)"></tab-button>
          </div>
        </div>

      </div>

      <button class="nextButton" ion-button (click)="submitAbout()">Go</button>

    </div>
  </div>
</ion-content>
