.hu_body {
  ion-item {

    ion-label {
      flex: 1;
    }

    ion-input{
      input {
        text-align: right;
      }
    }

    ion-select {
      flex-direction: row-reverse;
      width: 100%;
      .select-icon {
    		visibility: hidden;
    	}
      .select-text {
        text-align: right;

      }
    }
  }

  input::-webkit-calendar-picker-indicator{
      display: none;
  }

}
