.hu_body {
  ion-item {

    ion-input{
      input {
        text-align: right;
      }
    }

    ion-select {
      // border: 1px dashed orange;
      flex-direction: row-reverse;
      width: 100%;
      .select-icon {
    		visibility: hidden;
    	}
      .select-text {
        text-align: right;

      }
    }
  }

  input::-webkit-calendar-picker-indicator{
      display: none;
  }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  input::-webkit-clear-button{
    display: none;
  }
}
